<div class="page-header">
  <h1>Destroyed "<%= @movie.title %>" at movie id <%= params[:id] %></h1>
    <!-- <h1>Destroyed movie id <%= @destroyed_movie_id %></h1> -->
</div>

<p><a href="/movies" class="btn btn-primary">Go Back</a></p>
